@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: ; */
}


.text-smbold {
  @apply font-bold text-lg text-textBlack
}
.text-bold {
  @apply font-bold text-2xl text-textBlack
}

.text-2xbold {
  @apply font-bold text-[32px] text-textBlack
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 10px; 
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #FFFFFF; 
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: teal; 
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: teal white;
  }
}